
<mat-toolbar class='nav' color="primary">
    <div >

        <button  routerLinkActive="active"  mat-button routerLink="/home" style="margin-top:5px">
            <!-- <mat-icon>home</mat-icon>  -->
            <img width="60px" height="60px" src='imagens/logo.png'>
            <h3> 
                {{title}}
            </h3>
        </button>
    </div>

    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxHide fxShow.gt-sm>
        <div *ngIf="loginService.loggedIn|async ; else loggedOut" >
            <button mat-button routerLink="/logout"> Sair </button>
            <button mat-button routerLink="/dashboard"> Dashboard </button>

        </div>
        <ng-template #loggedOut>
                <button  routerLinkActive="active" mat-button routerLink="/login"> Login </button>
            
                <button  routerLinkActive="active" mat-button routerLink="/register"> Registrar </button>             
        </ng-template>

    </div>     
  
<!-- 
        <button mat-button routerLink="/login">Entrar</button>
  
        <button mat-button routerLink="/dashboard">Dashboard</button> -->
    <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu>
    <!-- <button mat-menu-item routerLink="/login">Entrar</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button> -->
    <div *ngIf="loginService.loggedIn|async ; else loggedOut1" >
        <button mat-menu-item routerLink="/logout"> Sair </button>
        <button mat-menu-item routerLink="/dashboard"> Dashboard </button>

    </div>
    <ng-template #loggedOut1>
            <button  mat-menu-item routerLink="/login"> Login </button>
        
            <button  mat-menu-item  routerLink="/register"> Registrar </button>             
    </ng-template>
</mat-menu>

<router-outlet>
    
</router-outlet>
<ngx-loading-bar></ngx-loading-bar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class='footer' color="primary"></mat-toolbar>