
  historico works!

  {{historicoData|async}}
  <div *ngFor='let historico of historicoData|async'>
    {{historico['id_vacina']}}
  </div>

  <table mat-table [dataSource]="historicoData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="vacina">
      <th mat-header-cell *matHeaderCellDef>Vacina </th>
      <td mat-cell *matCellDef="let element"> {{element.vacina.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="aplicador">
      <th mat-header-cell *matHeaderCellDef> Aplicador  </th>
      <td mat-cell *matCellDef="let element"> {{element.aplicador.registro.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="posto">
      <th mat-header-cell *matHeaderCellDef> Posto </th>
      <td mat-cell *matCellDef="let element"> {{element.aplicador.posto.endereco}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>