
.default-margin-home{
    margin:1em;
    padding:2em;
}
.home-content{
    
    display: inline-flex;
    // max-width: 1200px;
    @extend .default-margin-home;
}

.additional-info{
    @extend .default-margin-home;
    
}

img{
    max-height: 400px;
    max-width: 500px;
    width: auto;
    height: auto;
}



:host ::ng-deep .e-header {
    margin:0 !important;

   div{

       text-align: center; font-weight: 300;
       padding:50px;
   }
    h1{
        line-height: 56px !important;
        font-size:56px!important;
    font: 400 24px/32px Roboto,"Helvetica Neue",sans-serif;
    }
}







.example-container{
    
    flex:1 !important;
}