<app-e-header>
    <app-e-header-title>
        <div>
            <h1>

                Carteira de Vacinação Online
            </h1>
            <h2 style='font-size: 18px;
                        font-weight: 300;
                        line-height: 28px;'>
                Saia do passado, tenha acesso a sua carterinha de vacinação a qualquer monento!
            </h2>


            <button mat-raised-button routerLink='/login'> Não perca mais tempo!</button>
        </div>



    </app-e-header-title>



</app-e-header>
<mat-sidenav-container class="example-container">
    <ngx-hm-carousel
    [(ngModel)]="index"
    [autoplay-speed]="3000"
    [autoplay]="true"
    [infinite]="infinite"
    [between-delay]="2000"
    class="carousel c-accent">
   
    <section ngx-hm-carousel-container class="content">
      <article class="item cursor-pointer"
        *ngFor="let avatar of avatars">
        <div class="img"
          [style.backgroundImage]="'url('+avatar.url+')'">
          
          <p>
              
              
          Perdeu a carterinha de vacinação e precisa tomar a vacina da febre amarela? A orientação da Anvisa (Agência Nacional de Vigilância
          Sanitária) é que a pessoa entre em contato com o local onde foi realizada a vacinação para o resgate
          da 2ª via. Em caso de dúvida ou impossibilidade de adquirir a carteira de vacinação, vale procurar
          o Programa Nacional de Imunização/ Ministério da Saúde. Esse setor é o responsável para avaliação
          e encaminhamento dos questionamentos das atividades de vacinação das unidades de saúde. Muita gente
          também não se lembra se já tomou ou não a vacina da febre amarela. Na dúvida, a recomendação é se
          Perdeu a carterinha de vacinação e precisa tomar a vacina da febre amarela? A orientação da Anvisa (Agência Nacional de Vigilância
          Sanitária) é que a pessoa entre em contato com o local onde foi realizada a vacinação para o resgate
          da 2ª via. Em caso de dúvida ou impossibilidade de adquirir a carteira de vacinação, vale procurar
          o Programa Nacional de Imunização/ Ministério da Saúde. Esse setor é o responsável para avaliação
          e encaminhamento dos questionamentos das atividades de vacinação das unidades de saúde. Muita gente
          também não se lembra se já tomou ou não a vacina da febre amarela. Na dúvida, a recomendação é se
   
      </p>
        </div>
        
    </article>
    </section>
   
    <ng-template #carouselPrev>
      <div class="click-area">
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
    </ng-template>
    <ng-template #carouselNext>
      <div class="click-area">
        <i class="material-icons">keyboard_arrow_right</i>
      </div>
    </ng-template>
   
    <ng-template #carouselDot let-model>
      <div class="ball bg-accent"
        [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>
   
    <ng-template #carouselProgress let-progress>
      <div class="progress" *ngIf="progress > 0"
      [style.width]="(direction==='right' ? progress : 100 - progress) + '%'"></div>
    </ng-template>
   
  </ngx-hm-carousel>
<!-- 
    <div ngClass="home-content full-inline full-block" [ngClass.xs]="{'full-inline':false, 'full-block':true}" [ngClass.sm]="{'full-inline':false, 'full-block':true}"
        [ngClass.md]="{'full-inline':true, 'full-block':false}" [ngClass.lg]="{'full-inline':true, 'full-block':false}">
        <div >



            <img src='/imagens/o-medico-de-ontem-de-hoje-e-do-futuro-media.png'>

            <mat-card class='card'>

                <mat-card-content>


                    <p>


                        Perdeu a carterinha de vacinação e precisa tomar a vacina da febre amarela? A orientação da Anvisa (Agência Nacional de Vigilância
                        Sanitária) é que a pessoa entre em contato com o local onde foi realizada a vacinação para o resgate
                        da 2ª via. Em caso de dúvida ou impossibilidade de adquirir a carteira de vacinação, vale procurar
                        o Programa Nacional de Imunização/ Ministério da Saúde. Esse setor é o responsável para avaliação
                        e encaminhamento dos questionamentos das atividades de vacinação das unidades de saúde. Muita gente
                        também não se lembra se já tomou ou não a vacina da febre amarela. Na dúvida, a recomendação é se
                        imunizar novamente. Vale destacar que a campanha de febre amarela é preventiva e voltada aos moradores
                        da zona norte de São Paulo. A ação começou no dia 21 de outubro, após um macaco ser encontrado morto
                        no Horto Florestal vítima de febre amarela. Dose única para toda a vida A vacina contra a febre amarela
                        é a melhor forma de se prevenir da doença, e uma única dose é o suficiente para se proteger por toda
                        a vida. Mas nem todos devem tomar. O imunizante não é indicado para gestantes, mulheres amamentando
                        crianças com até 6 meses e pessoas imunodeprimidas, como pacientes em tratamento quimioterápico,
                        radioterápico ou com corticoides em doses elevadas (portadores de Lúpus, por exemplo). Mais de 500
                        mil se imunizaram Na quarta-feira (1º), a meta da primeira etapa da campanha, que era de vacinar
                        moradores da região do entorno dos parques do Horto, Cantareira e Anhanguera, foi batida. Somente
                        na quinta-feira (2), feriado de Finados, 34.222 pessoas se vacinaram nas 37 UBSs (Unidades Básicas
                        de Saúde), que atenderam até as 14h. Até agora, 539.949 moradores da zona norte foram vacinados,
                        segundo a secretaria de saúde. Vale ressaltar que as ações de rotina — vacinação para pessoas que
                        precisam viajar para áreas de risco, seguem nos demais postos da cidade. Veja a lista completa aqui
                    </p>
                </mat-card-content>

            </mat-card>
        </div>

        <div>




            <mat-card class='card'>

                <mat-card-content>



                    <p>

                        Perdeu a carterinha de vacinação e precisa tomar a vacina da febre amarela? A orientação da Anvisa (Agência Nacional de Vigilância
                        Sanitária) é que a pessoa entre em contato com o local onde foi realizada a vacinação para o resgate
                        da 2ª via. Em caso de dúvida ou impossibilidade de adquirir a carteira de vacinação, vale procurar
                        o Programa Nacional de Imunização/ Ministério da Saúde. Esse setor é o responsável para avaliação
                        e encaminhamento dos questionamentos das atividades de vacinação das unidades de saúde. Muita gente
                        também não se lembra se já tomou ou não a vacina da febre amarela. Na dúvida, a recomendação é se
                        imunizar novamente. Vale destacar que a campanha de febre amarela é preventiva e voltada aos moradores
                        da zona norte de São Paulo. A ação começou no dia 21 de outubro, após um macaco ser encontrado morto
                        no Horto Florestal vítima de febre amarela. Dose única para toda a vida A vacina contra a febre amarela
                        é a melhor forma de se prevenir da doença, e uma única dose é o suficiente para se proteger por toda
                        a vida. Mas nem todos devem tomar. O imunizante não é indicado para gestantes, mulheres amamentando
                        crianças com até 6 meses e pessoas imunodeprimidas, como pacientes em tratamento quimioterápico,
                        radioterápico ou com corticoides em doses elevadas (portadores de Lúpus, por exemplo). Mais de 500
                        mil se imunizaram Na quarta-feira (1º), a meta da primeira etapa da campanha, que era de vacinar
                        moradores da região do entorno dos parques do Horto, Cantareira e Anhanguera, foi batida. Somente
                        na quinta-feira (2), feriado de Finados, 34.222 pessoas se vacinaram nas 37 UBSs (Unidades Básicas
                        de Saúde), que atenderam até as 14h. Até agora, 539.949 moradores da zona norte foram vacinados,
                        segundo a secretaria de saúde. Vale ressaltar que as ações de rotina — vacinação para pessoas que
                        precisam viajar para áreas de risco, seguem nos demais postos da cidade. Veja a lista completa aqui
                    </p>

                </mat-card-content>

            </mat-card>

            <img src='/imagens/o-medico-de-ontem-de-hoje-e-do-futuro-media.png'>
        </div>
    </div> -->

    <mat-card class='additional-info'>


        <mat-card-title>
            Alguma coisa



            <!-- This fils the remaining space of the current row -->
        </mat-card-title>
        <mat-card-subtitle>
            blblavbl
        </mat-card-subtitle>
        <mat-card-content>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

        </mat-card-content>

    </mat-card>




</mat-sidenav-container>